.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  margin: 2rem;

  background-color: #000000;
  border-radius: 20px;

  input,
  textarea {
    width: 100%;
    padding: 1rem;
    margin: 0.5rem 0;
    border: 3px solid #000000;
    border-radius: 4px;
    font-size: 1rem;
    background-color: #eba100;
    color: #000000;
  }

  .submit {
    background-color: #eba100;
    color: #000000;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #9b6f00;
    }
  }
}
